//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include		<resource.h>
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define	ICO_MAIN		100
#define back_ground     100
#define snake_head      101
#define snake_body      102
#define snake_tail      103
#define apple           104
#define apple_mask      105
#define wall            106
#define grass           107
#define emoji           108

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
ICO_MAIN	ICON		"Main.ico"
back_ground BITMAP      "back.bmp"
snake_head  BITMAP      "head.bmp"
snake_body  BITMAP      "body.bmp"
snake_tail  BITMAP      "tail.bmp"
apple       BITMAP      "apple.bmp"
apple_mask  BITMAP      "apple_mask.bmp"
grass       BITMAP      "grass.bmp"
emoji       BITMAP      "emoji.bmp"